body {
    background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364, #23d5ab);
    background-size: 3000% 3000%;
    animation: gradient 45s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.label-container {
    height: 50px;
    background: white;
    border-radius: 10px;
}

.table-container {
    background: white;
    border-collapse: separate !important;
    border-radius: 10px;
}

.table-container {
    background: white;
    border-collapse: separate !important;
}
